[submodule "06currencyConvertor"]
	path = 06currencyConvertor
	url = https://github.com/Luffy777-max/06currencyConvertor.git
[submodule "07reactRouter"]
	path = 07reactRouter
	url = https://github.com/Luffy777-max/React-Router.git
[submodule "08miniContext"]
	path = 08miniContext
	url = https://github.com/Luffy777-max/miniContext.git
[submodule "10todocontectLocal"]
	path = 10todocontectLocal
	url = https://github.com/Luffy777-max/10TodoContextLocal.git
